# 依赖
node_modules/
npm-debug.log
yarn-error.log

# 构建输出
/build
/dist
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 环境
.env
.env.local
.env.*.local

# 测试覆盖率
/coverage

# React
.cache/
